@import '../../assets/less/animations.less';

.skills {
  padding: 40px;
  background: #FF5F6D;
  background: linear-gradient(to left, #FF5F6D , #FFC371);

  display: flex;
  flex-direction: column;

  .pagebody {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cardContainer {
      width: 80%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
